/* make sure you change the first rule when copying and pasting into webflow */
/* #canvas-wrap  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans" sans-serif;
  font-family: sans-serif;
  /* background-color: blue; */
  text-align: center;
}

body {
  background-color: #1B1A2D;
  color: whitesmoke;
  position: relative;
}

.header-game {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 0 110px;
  padding-top: 8px;
}

.header__col {
  text-align: right;
}

.header-game a {
  display: inline-block;
  background-color: #323142;
  color: #F1EDE8;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  padding: 17px 32px;
  border-radius: 40px;
}

#pregame-card {
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: absolute;
  /* top: 33%; */
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  /* width: 75%; */
  max-width: 75%;
}

#pregame-header {
  color: #fff;
  font-weight: 900;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: -0.02em;
  margin: 0;
}

#profiles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  /* border: solid 1px grey; */
  transition: border 0.5s, background-color 0.5s;
  border: solid 2px transparent;
  cursor: pointer;
}

.player-card-name {
  color: #fff;
  font-size: 25px;
  transition: font-size 0.3s, color 0.3s;
  margin: 0;
}

.player-card-avatar {
  width: 135px;
  height: auto;
  border-radius: 42px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: width 0.3s
  /* border: solid 5px transparent; */
}

.player-card:focus {
  outline: none;
}
.player-card:hover {
  opacity: 1;
}

/* .player-card:hover .player-card-avatar, .player-card:focus .player-card-avatar {
  outline: solid 4px #f6a030;
  width: 152px;
} */

/* .player-card:hover .player-card-name, .player-card:focus .player-card-name {
  color: #f6a030;
  font-size: 32px;
} */

#game-settings-card {
  position: absolute;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  border-radius: 15px;
  padding: 30px 50px;
  z-index: 2;
  max-width: 1200px;
  /*

  background-color: #b9a2cf;
  top: 35%;

  /* touch-action: manipulation; */
}

#game-settings-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#game-settings-card form > p {
  font-size: 1.8rem;
  line-height: 1.9rem;
  margin-bottom: 0;
}

#category-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 13px;
  column-gap: 22px;
  width: 100%;
  border: none;
}

#category-container {
  display: flex;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

#category-fieldset input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#category-fieldset label {
  border: none;
  border-radius: 75px;
  background-color: #323142;
  color: #F8E6AD;
  padding: 12px 24px;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

#category-fieldset label svg {
  margin-right: 12px;
}

#category-fieldset [for~="special"]{
  --color-blue: #5FA9ED;
  background: conic-gradient(from -3.66deg at 50% 120.26%, var(--color-blue) 0deg, #FF3D3D 119.83deg, #FA57CC 200.63deg, #FFD073 244.95deg, #D3EFB9 311.25deg, var(--color-blue) 360deg), #41449A;
}

#category-fieldset [for~="special"]:hover {
  background: conic-gradient(from 188.3deg at 43.33% 111.54%, var(--color-blue) 0deg, #FF3D3D 118.48deg, #FA57CC 170.99deg, #FFD073 232.18deg, #D3EFB9 311.25deg, var(--color-blue) 360deg), #41449A;
  color: #F8E6AD;
}

#category-fieldset input:not([id~="special"]):checked + label {
  background-color: #F8E6AD;
  color: #1B1A2D;
}

#category-fieldset input[id~="special"]:checked + label {
  background-image: none;
  background: conic-gradient(from 188.3deg at 43.33% 111.54%, #5FA9ED 0deg, #FF3D3D 118.48deg, #FA57CC 170.99deg, #FFD073 232.18deg, #D3EFB9 311.25deg, #5FA9ED 360deg), #41449A;
}

#difficulty-width-slider-container {
  width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#difficulty-width-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: #706e79;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.difficulty-width-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
}

.difficulty-width-slider-wrapper span {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  margin: 0 12px;
  position: relative;
  top: -12px;
  display: block;

}

/* #difficulty-width-slider-ticks {
  z-index: -1;
  height: 10px;
  width: 60%;
  max-width: 60%;
  background-image: repeating-linear-gradient(to right,
  #b9a2cf,
  #b9a2cf 1.5%,
  #000 1.5%,
  #000 2%,
  #b9a2cf 2%,
  #b9a2cf 25.5%)
} */

#difficulty-width-slider:hover {
  opacity: 1;
}

#difficulty-width-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F8E6AD;
  cursor: pointer;
}

#difficulty-width-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F8E6AD;
  cursor: pointer;
}

#difficulty-width-slider-ticks {
  width: 99%;
  max-width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#difficulty-width-slider-ticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1.5px;
  background: #D3D3D3;
  height: 5px;
  line-height: 30px;
  margin: 3px 0 20px 0;
  font-size: 0.9rem ;
}

/* #difficulty-width-slider::-moz-range-track {
  padding: 0 10px;
  background: repeating-linear-gradient(to right,
    #ccc,
    #ccc 10%,
    #000 10%,
    #000 11%,
    #ccc 11%,
    #ccc 20%);
} */

#canvas-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 76px;
  /* background-color: red; */
  /* touch-action: none;
  -ms-touch-action: none; */
}

.debug {
  color: blue;
}

#rotate-header {
  color: white;
  margin-top: 70px;
}

#top-protrusion {
  border: 1px solid #323142;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-height: 90px;
  padding: 12px;
  border-radius: 40px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-bottom: 4px;
}

#top-protrusion img {
  margin-right: 16px;
}

#top-protrusion p {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
}

#selected-prompt {
  font-size: 37px;
  line-height: 39px;
  margin-bottom: 0;
}

#canvas-border-div {
  /* background-color: #fff; */
  border-radius: 40px;
  overflow: hidden;
  /* padding: 25px 35px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

#canvas {
  display: block;
  /* background-color: white; */
  padding: 0;
  /* border-left: #d3d1ce solid 35px;
  border-right: #d3d1ce solid 35px;
  border-top: #d3d1ce solid 25px;
  border-bottom: #d3d1ce solid 25px; */
  /* border-radius: 2rem; */
}

#canvas-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* background-color: #323142; */
  /* border-radius: 70px; */
  position: absolute;
  /* left: 0px; */
  bottom: 0px;
  height: 96px;
  width: 100%;
  overflow-y: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

#canvas-controls-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #323142;
  border-radius: 70px;
  height: 96px;
  padding: 0 24px;
  padding-left: 64px;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;}

#eraser-button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 48px;
  transition: top 0.3s;
  /* animation: eraseranim 0.3s; */
}

/* @keyframes eraseranim {
  0% {
    top: 8px
  }
  100% {
    top: 25px
  }
} */

#endgame-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 30px;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
}

#eraser-button-selected {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 24px;
  transition: top 0.3s;
}

#eraser-button-selected:hover {
  /* top: 10px; */
  opacity: 0.85;
}

#eraser-image {
  width: 100%;
  height: auto;
}

#stroke-width-slider-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 12px;
}

#stroke-width-slider-container p:first-of-type {
  position: relative;
  bottom: 2.5px;
  margin: 0;
}

#stroke-width-slider-container p:last-of-type {
  position: relative;
  bottom: 1px;
  margin: 0;
}

#stroke-width-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  height: 6px;
  border-radius: 6.5px;
  background: #6b6974;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  touch-action: none;
}

#stroke-width-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F1EDE8;
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

#stroke-width-slider::-moz-range-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F1EDE8;
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

#pencil-button {
  z-index: 1;
  position: relative;
  top: 48px;
  transition: top 0.3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
}

#pencil-button-selected {
  top: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
}

#pencil-button-selected:hover {
  opacity: 0.85;
}

.pencil-button {
  z-index: 1;
  position: relative;
  bottom: 0;
  transition: top 0.3s;
  width: 43px;
  height: 132px;
}


.pencil-button img, .eraser-button img {
  width: 100%;
  height: auto;
}

.eraser-button {
  width: 43px;
  margin-left: 16px;
}

/* #pencil-svg {
  width: 25px;
  height: auto;
} */


.color-pen {
  fill: #000000;
  transition: fill 0.35s;
}

.cls-2 {
  fill: #f6bb6b;
}

.cls-3 {
  fill: #231f20;
  opacity: .3;
}

#color-picker {
  opacity: 0;
  /* z-index: 0; */
  position: relative;
  bottom: 40px;
  left: 16px;
  width: 0;
  /* overflow: auto; */
}

/* #color-selector-svg {
  height: 60px;
  width: auto;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 25px;
  transition: top 0.5s;
  fill: red;
} */

/* .color-pen {
  height: 60px;
  width: auto; */
  /* height: 60px;
  width: auto;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 25px;
  transition: top 0.5s; */
  /* fill: red;
} */

#submit-countdown-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;  /* background-color: red; */
}

#submit-early-button, #submit-settings-button {
  border: none;
  border-radius: 8px;
  background-color: #FF6745;
  padding: 0 36px;
  cursor: pointer;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  border-radius: 75px;
  height: 80px;
  color: #F1EDE8;
}

/* #countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
} */

#countdown {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.cls-1 {
  fill: none;
  stroke: #323142;
  stroke-linejoin: round;
  stroke-width: 7px;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 160s circletimer linear;
}

.timer-circle{
  fill: none;
  stroke: #FF6745;
  stroke-linejoin: round;
  stroke-width: 7px;
  /* animation: 60s circletimer2 cubic-bezier(.7,.03,.96,.74); */
}

#countdown-svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown-number {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F1EDE8;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  /* display: inline-block; */
  /* line-height: 40px; */
}
#ipad-test {
  color: green;
}

/* #countdown-svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: black;
  fill: none;
  animation: countdown 60s linear 1 forwards;
} */

@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

@keyframes circletimer2 {
  0% {
    stroke: #fff;
  }
  100% {
    stroke: red;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#prompts-and-skip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25px 50px;
  /* background-color: #b9a2cf; */
  border-radius: 15px;
  position: absolute;
  /* top: 35%; */
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  /* top: 0;
  bottom: 0;
  margin: auto 0; */
  touch-action: manipulation;
  width: 75%;
  max-width: 75%;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

@-webkit-keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#prompts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin: 0;
  /* padding: 1.5vw; */
}

#prompts button {
  margin-bottom: 24px;
}

button:hover, #category-fieldset label:hover {
  color: #1B1A2D;
}

.prompt, .endgame-option {
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 75px;
  padding: 0 24px;
  min-height: 90px;
  cursor: pointer;
  background-color: #323142;
  color: #F8E6AD;
}
.prompt span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 58px;
  background: #F8E6AD;
  border-radius: 100px;
  color: #1B1A2D;
  margin-right: 24px;
}

.game-end-anchor {
  background-color: #f6a030;
}

.prompt:focus, .endgame-option:focus, #category-fieldset label:focus{
  background-color: rgb(249, 70, 249);
}

#category-fieldset label:hover{
  background-color: #F8E6AD;
}

.endgame-option {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skip-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  touch-action: manipulation;
}

#skip-image {
  width: 80px;
  height: auto;
}

.range-wrapper {
  background-color: #323142;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 40px;
  border-radius: 44px;
  max-width: 638px;
  width: 100%;
}

.range-wrapper p {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  color: #F1EDE8;
  margin-bottom: 20px;
}

/* @media only screen and (max-width: 480px)  */
/* Mobile */
/* {
  .prompt {
    padding: 10px;
    font-size: 5vw;
  }
  #submit-early {
    border: none;
    padding: 10px;
  }
} */


@media only screen and (orientation: portrait) {
  #canvas-wrap {
    display: none;
  }
  #rotate-header {
    margin-top: 20vh;
  }
}

@media only screen and (orientation: landscape) {
  #rotate-header {
    display: none;
  }
}

/* @media only screen and (min-width: 769px) and (orientation: landscape)  */
/* Desktop */
 /* {
  .prompt {
    border-radius: 0.5rem;
    background-color: red;
    padding: 1rem 3rem;
    font-size: 1px;
    background-size: 40px 40px;
    background-position: 2px 2px;
  }
} */

@media only screen and (min-width: 1126px) {

  #eraser-button:hover {
    top: 8px;
    opacity: 0.85;
  }

  #pencil-button:hover {
    opacity: 0.85;
    top: 10px;
  }

};

/* @media only screen and (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) Tablet { */
/* @media only screen and (max-width: 768px), only screen and (max-height: 768px) and (orientation: landscape) Tablet { */
@media (max-width: 10px) /* Tablet */ {

}

@media only screen and (max-width: 780px), only screen and (orientation: landscape) and (max-width: 1125px){
    /* body { */
      /* background-color: red;; */
    /* } */

  #ipad-test {
    color: red;
  }

  #pregame-card {
    gap: 25px;
  }

  #pregame-header {
    font-size: 35px;
  }

  #profiles-container {
    gap: 20px 30px;
  }

  .player-card {
    gap: 7px;
    /* border: solid 1px grey; */
  }

  .player-card-name {
    font-size: 21px;
  }

  .player-card-avatar {
    width: 115px;
    /* border: solid 5px transparent; */
  }

  .player-card:hover .player-card-name, .player-card:focus .player-card-name{
    color: #f6a030;
    font-size: 26px;
  }

  .player-card:hover .player-card-avatar, .player-card:focus .player-card-avatar{
    outline: solid 3px #f6a030;
    width: 130px;
    /* border-radius: 4px; */
  }

    /* #canvas {
      border-left: red solid 20px;
      border-right: #d3d1ce solid 20px;
      border-top: #d3d1ce solid 10px;
      border-bottom: #d3d1ce solid 10px;
    } */
    /* .prompt {
      border-radius: 0.5rem;
      background-color: blue;
      padding: 1rem 3rem; */
      /* font-size: 20px; */
      /* background-size: 40px 40px;
      background-position: 2px 2px;
    } */

  #game-settings-card {

    max-width: 80%;
    padding: 20px 35px;
    /* top: 35%; */

    /* touch-action: manipulation; */
  }

  #game-settings-card form {
    gap: 16px;
  }

  #game-settings-card form > p {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  #category-fieldset {
    row-gap: 11px;
    column-gap: 20px;
  }

  #category-container {
    row-gap: 11px;
    column-gap: 20px;
  }

  #category-fieldset label {
    padding: 0.5rem 1.05rem;
    font-size: 16px;
    line-height: 18px;
    background-size: 24px 24px;
    background-position: 3px 3px;
    font-weight: 400;
  }

}


/* @media only screen and (max-height: 480px) and (max-width: 780px) and (orientation: landscape) Mobile { */
/* @media only screen and (max-width: 480px), only screen and (max-height: 480px) and (orientation: landscape) Mobile { */
@media only screen and (max-width: 480px), only screen and (max-width: 950px) and (orientation: landscape) /* Mobile */ {
  /* body {
    background-color: green;
  } */
  #ipad-test {
    color: blue;
  }

  #pregame-card {
    gap: 16px;
  }

  #pregame-header {
    font-size: 32px;
  }

  #profiles-container {
    gap: 20px 22px;
  }

  .player-card {
    gap: 7px;
    /* border: solid 1px grey; */
  }

  .player-card-name {
    font-size: 20px;
  }

  .player-card-avatar {
    width: 85px;
    /* border: solid 5px transparent; */
  }

  .player-card:hover .player-card-name, .player-card:focus .player-card-name{
    color: #f6a030;
    font-size: 25px;
  }

  .player-card:hover .player-card-avatar, .player-card:focus .player-card-avatar{
    outline: solid 2px #f6a030;
    width: 100px;
    /* border-radius: 4px; */
  }

  #game-settings-card {

    max-width: 82%;
    padding: 10px 25px;
    /* top: 35%; */

    /* touch-action: manipulation; */
  }

  #game-settings-card form {
    gap: 9px;
  }

  #game-settings-card form > p {
    font-size: 4.5vh;
    line-height: 4.5vh;
  }

  #category-fieldset {
    row-gap: 0.8vh;
    column-gap: 1.5vh;
  }

  #category-container {
    row-gap: 0.8vh;
    column-gap: 1.5vh;
  }

  #category-fieldset label {
    padding: 1.5vh 3.5vh;
    font-size: 3vh;
    line-height: 3vh;
    background-size: 16px 16px;
    background-position: 3px 3px;
    font-weight: 400;
  }

  #difficulty-width-slider {
    height: 2vh;
    border-radius: 2vh;
  }

  #difficulty-width-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  #difficulty-width-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }

  #difficulty-width-slider-ticks {
    width: 97%;
    max-width: 97%;
    padding: 0;
  }

  #difficulty-width-slider-ticks p {
    width: 1.5px;
    height: 4px;
    line-height: 1.25rem;
    margin: 0 0 10px 0;
    font-size: 10.5px ;
  }

  #submit-settings-button {
    font-size: 13px;
    padding: 6px 15px;
    background-size: 20px 20px;
  }

  #canvas-border-div {
    background-color: #d3d1ce;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* #canvas {
    border-left: #d3d1ce solid 10px;
    border-right: #d3d1ce solid 10px;
    border-top: #d3d1ce solid 10px;
    border-bottom: #d3d1ce solid 10px;
  } */

  #top-protrusion {
    /* min-height: 36px; */
    height: 36px;
    max-height: 60px;
    padding: 6px 11px 6px 11px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
  }

  #selected-prompt {
    font-size: 20px;
    line-height: 20px;
  }

  .prompt, .endgame-option {
    border-radius: 0.5rem;
    padding: 4px 26px;
    font-size: 15px;
    line-height: 18px;
    background-size: 30px 30px;
    background-position: 4px 4px;
    touch-action: manipulation;
  }

  .prompt {
    min-height: 60px;
  }

  .endgame-option {
    min-height: 45px;
  }

  #prompts-and-skip-container {
    gap: 13px;
    padding: 25px 30px;
    /* top: 0;
    bottom: 0;
    margin: auto 0; */
  }

  #skip-image {
    width: 60px;
  }

  #canvas-overlay {
    /* padding: 0rem 1.5rem; */
    border-radius: 10px;
    /* left: 0px; */
    bottom: 0px;
    height: 50px;
    overflow-y: hidden;
    touch-action: manipulation;
  }

  #canvas-controls-container {
    gap: 10px;
  }

  #submit-early-button {
    padding: 6px 20px;
    background-size: 25px 25px;
    background-position: 3px 3px;
    border-radius: 4px;
  }

  #eraser-image {
    width: 20px;
    height: auto;
  }

  #pencil-button-selected {
    top: 12px;
    width: 25px;
    height: auto;
  }

  #pencil-button {
    top: 25px;
    width: 25px;
    height: auto;
  }

  #eraser-button {
    top: 22px;
  }

  #eraser-button-selected {
    top: 8px;
  }

  #stroke-width-slider {
    height: 10px;
    border-radius: 5px;
  }

  #stroke-width-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  #stroke-width-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }

  #countdown {
    width: 42px;
    height: 42px;
  }

  .cls-1, .timer-circle {
    stroke-width: 11px;
  }

  #countdown-number {
    font-size: 13px;
  }

  #endgame-options-container {
    gap: 15px;
  }

}